src/ClusterGraphics.xsd

<?xml version="1.0" encoding="UTF-8"?>
                <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ClusterGraphics" xmlns:tns="http://www.example.org/ClusterGraphics" elementFormDefault="qualified">







    <element name="ClusterGrahics" type="tns:ClusterGraphics"></element>
    

    

    <complexType name="ClusterGraphics">
    	<sequence>
    		<element name="object" type="tns:objectType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="vi" type="tns:viType" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="viPath" type="tns:viType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="pixelString" type="string"></element>
    	</sequence>
    	<attribute name="pixel" type="boolean" use="required"></attribute>
    	<attribute name="pixelDim" type="int"></attribute>
    	<attribute name="cluster" type="int"></attribute>
    	<attribute name="objects" type="int" use="required"></attribute>
    	<attribute name="pathOption" type="boolean" use="required"></attribute>
    	<attribute name="descriptionDisplay" type="boolean"
    		use="required">
    	</attribute>
    	<attribute name="durchlauf" type="int" use="required"
    		default="1">
    	</attribute>
    	<attribute name="e" type="double" use="required"
    		default="1.0e-7">
    	</attribute>
    	<attribute name="fuzzyCMeans" type="boolean" use="required"></attribute>
    	<attribute name="possibilisticCMeans" type="boolean"
    		use="required">
    	</attribute>
    	<attribute name="sortCluster" type="boolean" use="required"></attribute>
    	<attribute name="fivtyFivtyJoker" type="boolean"
    		use="required">
    	</attribute>
    	<attribute name="clusterMax" type="boolean" use="required"></attribute>
    	<attribute name="zoom" type="int"></attribute>
    	<attribute name="title" type="string" use="required"></attribute>
    	<attribute name="version" use="required">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="0.94.2"></enumeration>
    				<length value="6"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="jahr">
    		<simpleType>
    			<restriction base="string">
    				<length value="4"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    </complexType>


    <complexType name="pixelString2Type">
    	<simpleContent>
    		<extension base="int"></extension>
    	</simpleContent>
    	<attribute name="i0" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i1" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i2" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i3" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i4" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i5" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i6" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i7" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i8" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i9" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i10" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i11" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i12" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i13" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i14" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i15" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i16" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i17" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i18" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i19" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i20" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i21" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i22" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i23" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i24" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i25" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i26" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i27" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i28" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i29" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i30" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i31" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i32" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i33" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i34" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i35" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i36" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i37" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i38" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i39" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i40" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i41" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i42" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i43" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i44" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i45" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i46" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i47" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i48" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i49" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i50" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i51" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i52" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i53" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i54"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    		use="required">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i55"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    		use="required">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i56"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    		use="required">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i57"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    		use="required">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i58"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000"
    		use="required">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i59" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i60" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i61" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i62" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i63" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i64" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i65" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i66" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i67" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i68" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i69" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i70" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i71" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i72" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i73" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i74" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i75" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i76" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i77" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i78" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i79" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i80" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i81" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i82" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i83" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i84" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i85" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i86" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i87" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i88" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i89" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i90" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i91" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i92" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i93" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i94" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i95" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i96" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i97" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i98" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    	<attribute name="i99" use="required"
    		default="0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000">
    		<simpleType>
    			<restriction base="string">
    				<length value="100"></length>
    			</restriction>
    		</simpleType>
    	</attribute>
    </complexType>

    <complexType name="objectType">
    	<simpleContent>
    		<extension base="int">
    			<attribute name="objectDescription" type="int"></attribute>
    		</extension>
    	</simpleContent>
    	<attribute name="x" type="double" use="required"></attribute>
    	<attribute name="y" type="double" use="required"></attribute>
    </complexType>

    <complexType name="viType">
    	<simpleContent>
    		<extension base="int">
    			<attribute name="y" type="double" use="required"></attribute>
    		</extension>
    	</simpleContent>
    	<attribute name="x" type="double" use="required"></attribute>
    </complexType>
</schema>